<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>XUnit Test Fact</Title>
            <Description>
                XUnit unit test fact snippet
            </Description>
            <Shortcut>XunitFact</Shortcut>
            <Author>Chris Stead</Author>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
                <SnippetType>SurroundsWith</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[
                    [Fact]
                    public void $TestName$()
                    {
                        $end$
                    }
                ]]>
            </Code>
            <Declarations>
                <Literal>
                    <ID>TestName</ID>
                    <ToolTip>Human Readable Test Name</ToolTip>
                    <Default>Test_name_goes_here</Default>
                </Literal>
            </Declarations>
            <Imports>
                <Import>
                    <Namespace>Xunit</Namespace>
                </Import>
            </Imports>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>